<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Link Not Found</title>
    <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="/stylesheets/notfound.css">
</head>

<body>
    <div class="container">
        <h1>404</h1>
        <h2>Link Not Found</h2>
        <p>Sorry, the short URL you requested does not exist or has expired.</p>
    </div>
</body>

</html>